.container404 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.container404 img {
  max-width: 15%;
  height: auto;
  margin: auto 1rem;
}

.container404 h1 {
  font-size: 15vw;
}

.pageNotFoundMessage {
  text-align: center;
  color: rgb(248, 46, 248);
}

.containerReminder {
  padding: 3%;
}

.indicator {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.indicator::after {
  content: "";
  width: 70%;
  height: 3px;
  background-color: #cb0f59;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

/* ============================================================================== */

/*
=============== 
Global Styles
===============
*/

ul {
  list-style-type: none;
}

h1,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.25rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h3,
  h4 {
    line-height: 1;
  }
}

/*  global classes */

/* section */

.section {
  width: 90vw;
  background: rgb(240, 0, 0);
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-20 {
  margin-top: 50px;
}

.container {
  width: 90vw;
  margin: 5rem 0;
  background-color: var(--clr-grey-8);
  max-width: var(--fixed-width);
  border-radius: var(--radius);
  padding: 1.5rem 2rem;
  box-shadow: var(--dark-shadow);
}

.container h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
}

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;
}

.person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
}

.person h4 {
  margin-bottom: 0.35rem;
}

.person p {
  margin-bottom: 0;
  color: var(--clr-grey-6);
}

.container button {
  color: var(--clr-white);
  display: block;
  width: 100%;
  border-color: transparent;
  background: var(--highlight-color);
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: var(--spacing);
  border-radius: var(--radius);
  outline: 1px solid rgba(242, 138, 178, 0.8);
  cursor: pointer;
}

/* tour app */

.btn {
  background: var(--clr-primary-5);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
  text-transform: capitalize;
  color: var(--highlight-color);
  letter-spacing: var(--spacing);
  border-color: transparent;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.error {
  color: rgb(255, 37, 37);
}

.title {
  text-align: center;
  margin: 4rem;
}

.highlighter {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.highlighter::after {
  content: "";
  height: 100%;
  width: 5px;
  background-color: var(--clr-light-blue);
  position: absolute;
  left: -15px;
  top: 50%;
  transform: translateY(-50%);
}

.underline {
  width: 6rem;
  height: 0.25rem;
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.single-tour {
  max-width: 500px;
  background: var(--clr-grey-8);
  border-radius: var(--radius);
  margin: 3rem auto;
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.single-tour:hover {
  box-shadow: var(--light-shadow);
}

.single-tour img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.tour-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.tour-info h4 {
  margin-bottom: 0;
}

.single-tour button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: var(--clr-primary-5);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}

.tour-price {
  color: var(--highlight-color);
  background: var(--clr-primary-10);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}

.single-tour footer {
  padding: 1.5rem 2rem;
}

.single-tour .delete-btn {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  background: transparent;
  border: 1px solid var(--clr-red-dark);
  padding: 0.25rem 0.5rem;
  border-radius: var(--radius);
}

/* review app */

.reviewApp {
  background-image: var(--clr-drk-gradient);
  padding: 2rem;
}

.img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

img.person-image {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
}

.quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  transform: translateY(25%);
  background: var(--highlight-color);
  color: var(--clr-white);
}

.img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: var(--highlight-color);
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

.author {
  margin-bottom: 0.25rem;
  text-align: center;
}

.job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--clr-primary-5);
  font-size: 0.85rem;
  text-align: center;
}

.info {
  margin-bottom: 0.75rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.prev-btn,
.next-btn {
  display: grid;
  place-items: center;
  color: var(--clr-primary-7);
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  transition: var(--transition);
  cursor: pointer;
}

.prev-btn:hover,
.next-btn:hover,
.prev-btn:focus,
.next-btn:focus {
  background: var(--highlight-color);
  color: var(--clr-primary-1);
}

.random-btn {
  margin-top: 0.5rem;
  background: var(--clr-primary-5);
  color: var(--highlight-color);
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: var(--radius);
  transition: var(--transition);
  border-color: transparent;
  cursor: pointer;
}

.random-btn:hover,
.random-btn:focus {
  background: var(--highlight-color);
  color: var(--clr-primary-1);
}

/* Accordian app */

.accordianApp {
  padding: 1rem;
}

.question {
  padding: 1rem 1.5rem;
  border: 2px solid var(--clr-grey-special);
  margin-bottom: 1rem;
  background-color: var(--clr-grey-9);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.question h4 {
  text-transform: none;
  line-height: 1.5;
}

.question p {
  color: var(--clr-grey-3);
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.question header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question header h4 {
  margin-bottom: 0;
}

header.btn-question {
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--highlight-color);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}

/*! Menu app */

.menu {
  padding: 5rem 0;
}

.btn-container {
  height: 100%;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}
.scrollmenu button {
  display: inline-block;
}
.filter-btn {
  background: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  margin: 0 0.5rem;
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  color: var(--clr-light-yellow);
  cursor: pointer;
  transition: var(--transition);
  border-radius: var(--radius);
  border: none;
  border: 1px solid var(--highlight-color);
}

.filter-btn:hover {
  background: var(--highlight-color);
  color: var(--clr-white);
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  gap: 3rem 2rem;
  justify-items: center;
}

.little-padding {
  padding: 0.8rem;
}

.menu-item {
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
}

.shadow {
  box-shadow: var(--dark-shadow);
}

.photo {
  object-fit: cover;
  height: 200px;
  width: 100%;
  box-shadow: var(--dark-shadow);
  border-radius: var(--radius);
  display: block;
}

.item-info header {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--highlight-color);
}

.item-info h4 {
  margin-bottom: 0.5rem;
}

.price {
  color: var(--clr-light-yellow);
}

.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
}

@media screen and (min-width: 768px) {
  .menu-item {
    grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .photo {
    height: 175px;
  }
}

@media screen and (max-width: 768px) {
  .btn-container {
    margin-bottom: 2rem;
  }
  .btn-container button {
    font-size: 0.8rem;
    padding: 0.2rem;
  }
}

@media screen and (min-width: 1200px) {
  .section-center {
    width: 95vw;
    grid-template-columns: 1fr 1fr;
  }
  .photo {
    height: 150px;
  }
}

/* ! tab */

.jobs-center {
  width: 80vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

.job-btn {
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-3);
  text-transform: capitalize;
  font-size: 1.25rem;
  letter-spacing: var(--spacing);
  margin: 0 0.5rem;
  transition: all 0.3s linear;
  cursor: pointer;
  padding: 0.25rem 0;
  line-height: 1;
}

.job-btn:hover {
  color: var(--highlight-color);
  box-shadow: 0 2px var(--highlight-color);
}

.active-btn {
  color: var(--clr-light-blue);
  box-shadow: 0 2px var(--clr-light-blue);
}

.job-info h3 {
  font-weight: 400;
}

.job-info h4 {
  text-transform: uppercase;
  color: var(--clr-grey-1);
  background: var(--clr-grey-9);
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
}

.job-date {
  letter-spacing: var(--spacing);
}

.job-desc {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 2rem;
  align-items: center;
  margin-bottom: 1.25rem;
}

.job-desc p {
  margin-bottom: 0;
  color: var(--clr-grey-3);
}

.job-icon {
  color: var(--highlight-color);
}

@media screen and (min-width: 992px) {
  .jobs-center {
    width: 90vw;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 4rem;
  }
  .btn-container-job {
    flex-direction: column;
    justify-content: flex-start;
  }
  .job-btn {
    margin-bottom: 1rem;
  }
  .active-btn {
    box-shadow: -2px 0 var(--clr-light-blue);
  }
  .job-btn:hover {
    box-shadow: -2px 0 var(--highlight-color);
  }
}

/*  !!!!...Sliderr app */

.article-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* padding: 5rem; */
  opacity: 0;
  transition: all 0.5s linear;
}

.article-slider .img-container::before {
  margin-top: 5px;
}

.article-slider h4 {
  color: var(--clr-light-blue);
}

.section-center-slider {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  /* have to have a height */
  height: 500px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}

.icon-quote-right {
  position: absolute;
  bottom: 0px;
  color: var(--highlight-color);
}

.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}

.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--highlight-color);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}

.prev:hover,
.next:hover {
  background: var(--highlight-color-light);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
  .icon-quote-right {
    font-size: 1.5rem;
  }
}

article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

article.lastSlide {
  transform: translateX(-100%);
}

article.nextSlide {
  transform: translateX(100%);
}

/* ! lorem */

.lorem-form {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 1.25rem;
  color: var(--clr-primary-1);
}

input {
  padding: 0.25rem 0.5rem;
  width: 4rem;
  border-radius: var(--radius);
  border: none;
  margin: 0 0.5rem;
  font-size: 1.25rem;
}

.result {
  margin-bottom: 2rem;
}

/* ! color Generator */

.color-form label {
  font-size: 0.9rem;
}

.color-form button {
  font-size: 0.9rem;
  padding: 5px;
}

.color-form input {
  width: 80%;
  max-width: 200px;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .color-form label {
    font-size: 1.3rem;
  }
  .color-form input,
  .color-form button {
    font-size: 1.2rem;
  }
}

input.error {
  border: 2px solid var(--clr-red-dark);
}

.colors {
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
}

.color {
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1rem;
  min-height: 100px;
  aspect-ratio: 1;
  text-transform: none;
  color: rgb(0, 0, 0);
}

.percent-value {
  margin-bottom: 0;
  color: currentColor;
}

.color-value {
  margin-bottom: 0;
}

.color-light .color-value {
  color: var(--clr-white);
}

.color-light .percent-value {
  color: var(--clr-white);
}

.alert {
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

/* ! Grocery Bud */

.alert-toast {
  text-align: center;
  font-size: 1rem;
  border-radius: 0.25rem;
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

.alert-danger {
  color: #ff0909;
  background: #f12b3b52;
}

.alert-success {
  color: #1cff07;
  background: #18a5398a;
}

.grocery-form h3 {
  color: var(--clr-primary-1);
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-control {
  display: flex;
  justify-content: center;
}

.grocery::placeholder {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--clr-grey-7);
}

.grocery-container {
  margin-top: 2rem;
}

.grocery-item {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12px, 1fr));
  transition: var(--transition);
  gap: 1rem;
}
.grocery-item p {
  text-align: justify;
  margin-right: 50px;
}
.grocery-item:hover {
  color: var(--clr-grey-5);
  background: var(--clr-grey-10);
}

.grocery-item:hover {
  color: var(--clr-grey-5);
}

.edit-btn,
.delete-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  /* margin: 0 0.15rem; */
  transition: var(--transition);
  overflow: scroll;
}
.button-container-grocery {
  max-width: 20%;
  position: absolute;
  right: 2px;
}
.edit-btn {
  color: var(--clr-green-light);
}

.edit-btn:hover {
  color: var(--clr-green-dark);
}

.delete-btn {
  color: var(--clr-red-light);
}

.delete-btn:hover {
  color: var(--clr-red-dark);
}

.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border: 1px solid red;
  color: var(--clr-red-light);
  margin: 0 auto;
  font-size: 0.85rem;
  letter-spacing: var(--spacing);
  cursor: pointer;
  transition: var(--transition);
  margin-top: 1.25rem;
}

.clear-btn:hover,
.clear-btn:focus {
  color: var(--clr-red-dark);
}
.groceryBud {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  box-shadow: var(--dark-shadow);
}
.groceryBud form button,
.groceryBud form label {
  text-align: center;
  word-wrap: normal;
  min-width: 75px;
  font-size: 0.7rem;
}
.groceryBud form input {
  min-width: 40%;
}
@media (min-width: 768px) {
  /* !grocery bud */
  .groceryBud {
    padding: 2rem;
  }
  .groceryBud form input {
    width: 80%;
  }
  .groceryBud form button,
  .groceryBud form label {
    font-size: 1.1rem;
    width: 150px;
  }
}

/* ! strip submenu */
.nav {
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}
.nav-center {
  width: 90vw;
  max-width: var(--max-width);
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: block;
  max-width: 100%;
  min-width: 70px;
  height: auto;
}
.nav-links {
  display: none;
}
.signin-btn {
  display: none;
}
.hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background: url(../src/my_components/strap-submenu-app/images/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  z-index: -1;
}
.hero {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  color: var(--highlight-color);
  padding: 0.3rem;
}
.hero-center {
  width: 90vw;
  max-width: var(--max-width);
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

.hero-info h1 {
  text-transform: uppercase;
  text-align: left;
  max-width: 500px;
  line-height: 1.25;
  padding: 2rem 1rem;

  margin-bottom: 2rem;
}
.hero-info p {
  text-align: justify;
  padding: 2rem 1rem 1rem;
  font-size: 1rem;
  max-width: 35em;
  line-height: 1.8;
}
.hero-images {
  display: none;
  transform: translateY(-6rem);
  margin-top: 2rem;
}
.btn-stripe {
  margin-bottom: auto;
  margin-top: auto;
  background: transparent;
  color: #fff;
}
/* nav media query */
@media screen and (min-width: 800px) {
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  .toggle-btn {
    display: none;
  }
  .signin-btn {
    display: inline-block;
    margin: auto 0;
    background: var(--clr-dark-blue);
    color: #fff;
    font-size: 0.9rem;
    margin-right: 10px;
  }
  .nav-links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .nav-links li {
    height: 100%;
  }
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
    cursor: pointer;
  }
}

.hero-images img {
  max-width: 100%;
}
/* hero media query */
@media screen and (min-width: 800px) {
  .hero::before {
    background-size: contain;
    height: 100%;
  }
  .hero-center {
    grid-template-columns: 2fr 1fr;
  }

  .hero-info h1 {
    font-size: 3rem;
  }
  .hero-info p {
    font-size: 1.25rem;
  }
  .hero-images {
    display: block;
    justify-self: center;
    overflow: hidden;
  }

  .phone-img {
    width: 12rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero-center {
    grid-template-columns: 2fr 1fr;
    align-items: end;
    padding-bottom: 12vh;
  }
  .hero-info h1 {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .hero-images {
    align-self: end;
  }
  .phone-img {
    width: 15rem;
  }
}
@media screen and (min-width: 1400px) {
  .hero-center {
    padding-bottom: 20vh;
  }
  .phone-img {
    width: 17rem;
  }
}

/* sidebar */
.has-shadow {
  box-shadow: var(--dark-shadow);
}
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  transition: var(--transition);
  transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}
.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}
.sidebar-nav {
  width: 90vw;
  height: 95vh;
  max-width: 100%;
  background: #fff;
  border-radius: var(--radius);
  box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem 2rem;
}
.close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--dark-bg-text);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.sidebar-nav article {
  margin-bottom: 2rem;
}
.sidebar-sublinks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}
.sidebar-sublinks a {
  display: block;
  color: var(--clr-grey-8);
  text-transform: capitalize;
  display: flex;
  align-items: center;
}
.sidebar-sublinks svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}
.sidebar-links {
  color: #000;
}

@media screen and (min-width: 800px) {
  .sidebar-wrapper {
    display: none;
  }
}

/* links */
.strap-container {
  position: relative;
}
.submenu {
  background: rgba(255, 255, 255, 0.904);
  box-shadow: var(--light-shadow);
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  transition: all 0.3s linear;
  backdrop-filter: blur(25px) saturate(200%);
  border: 1px solid rgba(255, 255, 255, 0.24);
  color: var(--clr-dark-blue);
}
.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.submenu h4 {
  margin-bottom: 1.5rem;
  color: var(--highlight-color);
}
.submenu-center a {
  width: 10rem;
  display: block;
  text-transform: capitalize;
  color: var(--clr-dark-blue);

  display: flex;
  align-items: center;
}
.submenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

/* ? cart */
.nav-cart {
  position: relative;
  max-width: 100%;
  padding: 0.5rem;
  background: #ec005f3b;
  backdrop-filter: blur(25px) saturation(100%);
}
.nav-center-cart {
  max-width: 100%;
  padding: 0.2rem 0.5rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h3 {
  margin-bottom: 0;
  color: var(--clr-white);
}
.nav-container {
  display: block;
  position: relative;
}
nav svg {
  width: 2rem;
  fill: var(--clr-white);
}
.amount-container {
  position: absolute;
  top: -0.85rem;
  right: -0.85rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: var(--highlight-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.total-amount {
  color: var(--clr-white);
  margin-bottom: 0;
  font-size: 1rem;
}
/*
=============== 
Cart
===============
*/
.cart {
  min-height: calc(100vh - 120px);
  width: 90vw;
  margin: 0 auto;
  margin-top: 40px;
  padding: 2.5rem 0;
  max-width: var(--fixed-width);
}
.cart h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
}
.empty-cart {
  text-transform: lowercase;
  color: var(--clr-grey-5);
  margin-top: 1rem;
  text-align: center;
}
.cart footer {
  margin-top: 4rem;
  text-align: center;
}
.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--clr-red-dark);
  border-color: var(--clr-red-light);
}
/*
=============== 
Cart Item
===============
*/
.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}
.cart-item img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
}
.cart-item h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}
.item-price {
  color: var(--clr-grey-5);
}
.remove-btn {
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  border: none;
  margin-top: 0.375rem;
  transition: var(--transition);
}
.remove-btn:hover {
  color: var(--clr-primary-light);
}
.amount-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
}
.amount-btn svg {
  fill: #fff;
}
.amount-btn:hover svg {
  fill: var(--clr-primary-light);
}
.amount {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25rem;
  line-height: 1;
}
hr {
  background: var(--clr-grey-5);
  border-color: transparent;
  border-width: 0.25px;
}

@media (min-width: 768px) {
  .nav-center-cart {
    max-width: 100%;
    padding: 0.2rem 4rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/* ! cocktail-app */

.btn-primary {
  text-transform: uppercase;
  letter-spacing: 2px;
 
  border: 2px solid rgb(5, 187, 178);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: all 0.3s linear;
  cursor: pointer;
  font-size: 0.8rem;
 background-color: transparent;
 color: #fff;
  border-radius: 5px;
  display: inline-block;
}

.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}
/* 
====== 
Navbar
======
*/


.cocktail-nav {
  background: rgba(0, 0, 0, 0.253);
  margin-top: 4rem;
  box-shadow: 0 2px #110601, 0 -2px #200c01;
  color: #01aaaa;
}
.logo {
  width: 12rem;
}
/* 
====== 
About
======
*/
.about-section {
  width: var(--smallWidth);
  max-width: var(--maxWidth);
  margin: 0 auto;
}
.about-section p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
}
/* 
====== 
Error
======
*/

/* 
====== 
Cocktails List 
======
*/

.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.cocktails-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}
@media screen and (min-width: 576px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
/* 
====== 
Cocktail 
======
*/

.cocktail {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}
.cocktail:hover {
  box-shadow: var(--darkShadow);
}
.cocktail img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.cocktail-footer {
  padding: 1.5rem;
}
.cocktail-footer h3,
.cocktail-footer h4,
.cocktail-footer p {
  margin-bottom: 0.3rem;
}
.cocktail-footer h3 {
  font-size: 2rem;
}
.cocktail-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}
/* 
====== 
Form
======
*/
.search {
  margin-top: 1rem;
  padding-bottom: 0;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}
/* 
====== 
Cocktail
======
*/

.cocktail-section {
  text-align: center;
}
.drink {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.drink img {
  border-radius: var(--mainBorderRadius);
}
.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink span {
  margin-right: 0.5rem;
}
.drink-data {
  background: var(--primaryLightColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
}
.drink-info {
  padding-top: 2rem;
}
@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .drink-info {
    padding-top: 0;
  }
}


