


@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}

/*
=============== 
Home
===============
*/

.modal-main{
  position: relative;
  box-shadow: var(--dark-shadow);
}
.sidebar-toggle {
  position: absolute;
  left: 100px;
 top: 50px;

  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}




/*
=============== 
Modal
===============
*/
.modal-sidebar{
  position: relative;
  background: #000;
}
.modal-overlay {
  position: fixed;
  left: 0%;
  top: 0%;
 height: 400px;
 width: 400px;
  background: var(--clr-grey-8);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}
/* OPEN/CLOSE MODAL */
.show-modal {
  visibility: visible;
  z-index: 10;
}
.modal-container {
  background: var(--clr-grey-8);
  border-radius: var(--radius);
  width: 90vw;
  height: 30vh;
  max-width: var(--fixed-width);
  text-align: center;
  display: grid;
  place-items: center;
  position: relative;
}
.close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}

/*
=============== 
Sidebar
===============
*/
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  transition: var(--transition);
  cursor: pointer;
  color: var(--clr-red-dark);
  margin-top: 0.2rem;
}
.close-btn:hover {
  color: var(--clr-red-light);
}
.logo {
  justify-self: center;
  height: 40px;
}

.links a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1rem 1.5rem;
  color: var(--clr-grey-3);
  transition: var(--transition);
  letter-spacing: var(--spacing);
}

.links a:hover {
  background: var(--clr-grey-10);
  color: var(--clr-grey-2);
}
.links a svg {
  font-size: 1.5rem;
  color: var(--clr-grey-5);
  margin-right: 1rem;
  transition: var(--transition);
}
.links a:hover svg {
  color: var(--clr-grey-4);
}
.social-icons {
  justify-self: center;
  display: flex;
  padding-bottom: 2rem;
}
.social-icons a {
  font-size: 1.5rem;
  margin: 0 0.5rem;
  color: var(--clr-primary-5);
  transition: var(--transition);
}
.social-icons a:hover {
  color: var(--clr-primary-1);
}

.sidebar {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-grey-8);
  display: grid;
  grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  box-shadow: var(--clr-red-dark);
  transition: var(--transition);
  transform: translate(-100%);
}
.show-sidebar {
  transform: translate(0);
}
@media screen and (min-width: 676px) {
  .sidebar {
    width: 400px;
  }
}
